</br>
</br>
</br>
</br>
<h1 class="text-center">About</h1>
</br>
<p>With this app you can set new habits and break old ones. After setting up a log-in, simply click the 'New Habit' link and type in what you want the habit to be, or the habit you want to break. 
</br>
</br>
On your 'Habits' page, you'll be presented with thirty grey boxes per habit. When you've done whatever the new habit is for the day (or successfully avoided the one you want to break), click the 'Check' button and you'll see that day turn blue. 
</br>
</br>
The idea is to have every box blue by the end of the thirty days and have a new habit that's part of your daily routine. If you miss a day, that box will stay grey. Its ok to miss one every now and then, but try not to miss too many in a row. 
</br>
</br>
If life gets in the way and you miss too many days, feel free to click on the 'Reset' button and start from scratch. </p>