</br>
</br>
</br>
</br>
<div class="text-center">
<h1>Welcome to Habit-Hatch</h1>
</br>
<h6>Create new habits or break old ones with this 30 day tool that tracks your progress.</h6>
<button type="button" class="btn btn-link">
  <%= link_to 'Get Started', new_user_registration_path %>
</button>
</div>

