<div class="card-body btn-group" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck8"></label>

  <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck9"></label>

  <input type="checkbox" class="btn-check" id="btncheck10" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck11"></label>

  <input type="checkbox" class="btn-check" id="btncheck12" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck12"></label>

  <input type="checkbox" class="btn-check" id="btncheck13" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck13"></label>

  <input type="checkbox" class="btn-check" id="btncheck14" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck14"></label>

  <input type="checkbox" class="btn-check" id="btncheck15" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck15"></label>
</div>